<br />
<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>
  <p>
    This was made by one man called Jose Reynaud. Want to know more about it, check <a href="https://josereynaud.netlify.com/">his portfolio page</a>
  </p>
</div>
